In [6]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

url = 'https://www.esportsearnings.com/leagues'
page = requests.get(url)
print(page)
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<Response [200]>
<!DOCTYPE html>
<html>
 <head>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="">
   var __ez=__ez||{};__ez.stms=Date.now();__ez.evt={};__ez.script={};__ez.ck=__ez.ck||{};__ez.template={};__ez.template.isOrig=false;__ez.queue=(function(){var count=0,incr=0,items=[],timeDelayFired=false,hpItems=[],lpItems=[],allowLoad=true;var obj={func:function(name,funcName,parameters,isBlock,blockedBy,deleteWhenComplete,proceedIfError){var self=this;this.name=name;this.funcName=funcName;this.parameters=parameters===null?null:(parameters instanceof Array)?parameters:[parameters];this.isBlock=isBlock;this.blockedBy=blockedBy;this.deleteWhenComplete=deleteWhenComplete;this.isError=false;this.isComplete=false;this.isInitialized=false;this.proceedIfError=proceedIfError;this.isTimeDelay=false;this.process=function(){log("... func = "+name);self.isInitialized=true;self.isComplete=true;log("... func.apply: "+name);var funcs=self.funcName.split('.');var func=null;if(funcs.length>3){}else if(funcs.length===3){func=window[funcs[0]][funcs[1]][funcs[2]];}else if(funcs.length===2){func=window[funcs[0]][funcs[1]];}else{func=window[self.funcName];}
if(typeof func!=='undefined'&&func!==null){func.apply(null,this.parameters);}
if(self.deleteWhenComplete===true)delete items[name];if(self.isBlock===true){log("----- F'D: "+self.name);processAll();}}},file:function(name,path,isBlock,blockedBy,async,defer,proceedIfError){var self=this;this.name=name;this.path=path;this.async=async;this.defer=defer;this.isBlock=isBlock;this.blockedBy=blockedBy;this.isInitialized=false;this.isError=false;this.isComplete=false;this.proceedIfError=proceedIfError;this.isTimeDelay=false;this.process=function(){self.isInitialized=true;log("... file = "+name);var scr=document.createElement('script');scr.src=path;if(async===true)scr.async=true;else if(defer===true)scr.defer=true;scr.onerror=function(){log("----- ERR'D: "+self.name);self.isError=true;if(self.isBlock===true){processAll();}};scr.onreadystatechange=scr.onload=function(){var state=scr.readyState;log("----- F'D: "+self.name);if((!state||/loaded|complete/.test(state))){self.isComplete=true;if(self.isBlock===true){processAll();}}};document.getElementsByTagName('head')[0].appendChild(scr);}}};function init(){window.addEventListener("load",function(){setTimeout(function(){timeDelayFired=true;log('TDELAY -----');processAll();},5000);},false);}
function addFile(name,path,isBlock,blockedBy,async,defer,proceedIfError,priority){var item=new obj.file(name,path,isBlock,blockedBy,async,defer,proceedIfError);if(priority===true){hpItems[name]=item}else{lpItems[name]=item}
items[name]=item;checkIfBlocked(item);}
function setallowLoad(settobool){allowLoad=settobool}
function addFunc(name,func,parameters,isBlock,blockedBy,autoInc,deleteWhenComplete,proceedIfError,priority){if(autoInc===true)name=name+"_"+incr++;var item=new obj.func(name,func,parameters,isBlock,blockedBy,deleteWhenComplete,proceedIfError);if(priority===true){hpItems[name]=item}else{lpItems[name]=item}
items[name]=item;checkIfBlocked(item);}
function addTimeDelayFile(name,path){var item=new obj.file(name,path,false,[],false,false,true);item.isTimeDelay=true;log(name+' ... '+' FILE! TDELAY');lpItems[name]=item;items[name]=item;checkIfBlocked(item);}
function addTimeDelayFunc(name,func,parameters){var item=new obj.func(name,func,parameters,false,[],true,true);item.isTimeDelay=true;log(name+' ... '+' FUNCTION! TDELAY');lpItems[name]=item;items[name]=item;checkIfBlocked(item);}
function checkIfBlocked(item){if(isBlocked(item)===true||allowLoad==false)return;item.process();}
function isBlocked(item){if(item.isTimeDelay===true&&timeDelayFired===false){log(item.name+" blocked = TIME DELAY!");return true;}
if(item.blockedBy instanceof Array){for(var i=0;i<item.blockedBy.length;i++){var block=item.blockedBy[i];if(items.hasOwnProperty(block)===false){log(item.name+" blocked = "+block);return true;}else if(item.proceedIfError===true&&items[block].isError===true){return false;}else if(items[block].isComplete===false){log(item.name+" blocked = "+block);return true;}}}
return false;}
function log(msg){var href=window.location.href;var reg=new RegExp('[?&]ezq=([^&#]*)','i');var string=reg.exec(href);var res=string?string[1]:null;if(res==="1")console.debug(msg);}
function processAll(){count++;if(count>200)return;log("let's go");processItems(hpItems);processItems(lpItems);}
function processItems(list){for(var i in list){if(list.hasOwnProperty(i)===false)continue;var item=list[i];if(item.isComplete===true||isBlocked(item)||item.isInitialized===true||item.isError===true){if(item.isError===true){log(item.name+': error')}else if(item.isComplete===true){log(item.name+': complete already')}else if(item.isInitialized===true){log(item.name+': initialized already')}}else{item.process();}}}
init();return{addFile:addFile,addDelayFile:addTimeDelayFile,addFunc:addFunc,addDelayFunc:addTimeDelayFunc,items:items,processAll:processAll,setallowLoad:setallowLoad};})();__ez.evt.add=function(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent?e.attachEvent("on"+t,n):e["on"+t]=n()},__ez.evt.remove=function(e,t,n){e.removeEventListener?e.removeEventListener(t,n,!1):e.detachEvent?e.detachEvent("on"+t,n):delete e["on"+t]};__ez.script.add=function(e){var t=document.createElement("script");t.src=e,t.async=!0,t.type="text/javascript",document.getElementsByTagName("head")[0].appendChild(t)};__ez.queue.addFile('/detroitchicago/boise.js', '/detroitchicago/boise.js?gcb=191-0&cb=1', false, [], true, false, true, false);
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" id="bsaihudashidsadhu" type="text/javascript">
   window.ezogtk="";if(typeof processGoogleToken!=="function"){processGoogleToken=function(a){window.ezogtk=a.newToken;processGoogleToken=undefined;var el=document.getElementById('bsaihudashidsadhu');if(el!==null){el.parentNode.removeChild(document.getElementById('bsaihudashidsadhu'))}
var eel=document.getElementById('ezintegrator');if(eel!==null){eel.parentNode.removeChild(document.getElementById('ezintegrator'))}}}
  </script>
  <script async="" src="//c.amazon-adsystem.com/aax2/apstag.js">
  </script>
  <script data-cfasync="false" data-pagespeed-no-defer="" type="text/javascript">
   var __ezaps=[{slotID:'div-gpt-ad-esportsearnings_com-banner-2-0',slotName:'/1254144/esportsearnings_com-banner-2',sizes:[[300,250]]},{slotID:'div-gpt-ad-esportsearnings_com-banner-2-0_1',slotName:'/1254144/esportsearnings_com-banner-2',sizes:[[300,250]]},{slotID:'div-gpt-ad-esportsearnings_com-medrectangle-2-0',slotName:'/1254144/esportsearnings_com-medrectangle-2',sizes:[[970,90],[728,90]]},{slotID:'div-gpt-ad-esportsearnings_com-box-2-0',slotName:'/1254144/esportsearnings_com-box-2',sizes:[[728,90]]},{slotID:'div-gpt-ad-esportsearnings_com-box-1-0',slotName:'/1254144/esportsearnings_com-box-1',sizes:[[300,250]]},{slotID:'div-gpt-ad-esportsearnings_com-medrectangle-1-0',slotName:'/1254144/esportsearnings_com-medrectangle-1',sizes:[[728,90]]}];var __ezapid="aa05931b-5308-4ea3-95a2-adf84f4ffde4";!function(a9,a){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}
a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},targetingKeys:function(){return[]},_Q:[]};}("apstag",window);apstag.init({pubID:__ezapid,adServer:'googletag',});function ezapsFetchBids(amazonSlots){if(typeof amazonSlots==='undefined'||amazonSlots.length===0){if(typeof window.msixsix!='undefined'&&window.msixsix!==false){for(slot in ezslots){window.ezorefgsl(window[ezslots[slot]]);}}
return}
apstag.fetchBids({slots:amazonSlots,timeout:2e3},function(bids){function getSlotById(id){if(typeof window.ezslots==='undefined'||window.ezslots==0){if(typeof window.msixsix!='undefined'&&window.msixsix!==false){for(slot in ezslots){window.ezorefgsl(window[ezslots[slot]]);}}
return;}
for(var i=0;i<window.ezslots.length;i++){var slot=window[ezslots[i]];if(typeof slot==='undefined'){continue;}
var slotId=slot.getSlotElementId();if(typeof slotId!=='undefined'&&slotId==id){return slot;}}}
function setA9DisplayBids(bids){if(typeof bids==='undefined'||bids.length==0){return;}
var keys=apstag.targetingKeys();for(var i=0;i<bids.length;i++){var bid=bids[i];var slot=getSlotById(bid.slotID);for(var k=0;k<keys.length;k++){if(keys[k]in bid){slot.setTargeting(keys[k],bid[keys[k]]);}}}
if(typeof window.msixsix!='undefined'&&window.msixsix!==false){for(slot in ezslots){window.ezorefgsl(window[ezslots[slot]]);}}}
googletag.cmd.push(function(){setA9DisplayBids(bids);});});}
ezapsFetchBids(__ezaps);
  </script>
  <script id="ezintegrator" src="https://adservice.google.com/adsid/integrator.js?domain=www.esportsearnings.com">
  </script>
  <script type="text/javascript">
   var __banger_pmp_deals=function(){var d={17:{"DealId":17,"Floor":160},18:{"DealId":18,"Floor":25},19:{"DealId":19,"Floor":100},7:{"DealId":7,"Floor":150},20:{"DealId":20,"Floor":300},8:{"DealId":8,"Floor":200},9:{"DealId":9,"Floor":300}};return[{"SlotName":"/1254144/esportsearnings_com-medrectangle-1","Deals":[d[17],d[18],d[19],d[7]]},{"SlotName":"/1254144/esportsearnings_com-banner-2","Deals":[d[17],d[18],d[19],d[20],d[7],d[8],d[9]]},{"SlotName":"/1254144/esportsearnings_com-medrectangle-2","Deals":[d[17],d[18],d[19],d[20],d[7],d[8],d[9]]},{"SlotName":"/1254144/esportsearnings_com-box-2","Deals":[d[17],d[18],d[19],d[7],d[8]]},{"SlotName":"/1254144/esportsearnings_com-box-1","Deals":[d[17],d[18],d[19],d[7],d[8]]},{"SlotName":"/1254144/esportsearnings_com-banner-2","Deals":[d[17],d[18],d[19],d[20],d[7],d[8],d[9]]}]}();
  </script>
  <script type="text/javascript">
   _ebcids=[138231308856,138231308940,138231308949,138231387842,138231421744,138231421759,138231421774,138231421783,138231421789,138231421792,138242067587,138242067590,138242067602,138242067605,138242067608,138242067614,138242229406,138242229415,138242229421,138242229430];
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   ezobv=87;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   function ez_isclean(data){if(typeof data==='undefined'){data=document.URL;}
var re=/(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))(@|%2540|%40)((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;var isClean=!re.test(data);return isClean;}
var ez_queue=new Array();function sort_queue(a,b)
{if(a.priority<b.priority)return-1;else if(a.priority==b.priority)return 0;else return 1;}
function execute_ez_queue()
{ez_queue.sort(sort_queue);for(var i in ez_queue)
{if(typeof ez_queue[i].method!="undefined")
{try{ez_queue[i].method.call(null);}
catch(err){}}}}
window.ez_ad_units=new Array();window.ezslots=new Array();window.ezsrqt={};function ez_write_tag(d){if(ez_isclean()&&d instanceof Array){if(typeof ezstandalone!=='undefined'&&typeof ezstandalone.selectedPlaceholders!=='undefined'&&ezstandalone.selectedPlaceholders[d[3]]===true){return "1+1";}
ez_ad_units[ez_ad_units.length]=d;var dve="";if(typeof d[5]!='undefined'&&d[5]>0){dve='_'+d[5];}
var ezcmd="googletag.cmd.push(function() {var divid = 'div-gpt-ad-"+d[1]+"-"+d[4]+""+dve+"';if(typeof ezlrarn == 'function'){ezlrarn(divid);}googletag.display(divid);var to = 0;if("+d[2]+".getTargeting('ga')[0] == '0'){to = 500;console.log('"+d[2]+" - no google');}if(window.ezDisableInitialLoad==true){setTimeout(function(){googletag.pubads().refresh(["+d[2]+"])},to);}});";return ezcmd;}
return "1+1";}
function in_array(needle,haystack){var length=haystack.length;for(var i=0;i<length;i++){if(haystack[i]==needle)return true;}
return false;}
var ezrpos=new Array();var ez_current_interval;var ez_current_load=0;
  </script>
  <script async="" data-cfasync="false" data-pagespeed-no-defer="" src="/porpoiseant/dall3270.js?cb=191-0" type="text/javascript">
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   var epbjs=epbjs||{};epbjs.que=epbjs.que||[];epbjs.bidderTimeout=2000;epbjs.useAdj=true;epbjs.SS={"amx":11290,"criteo":10050,"gumgum":10079,"oftmedia":10081,"onedisplay":10028,"onemobile":11293,"pubmatic":10061,"sovrn":10017};epbjs.bidders=['sovrn','oftmedia','gumgum','onedisplay','onemobile','criteo','pubmatic','amx'];epbjs.que.push(function(){epbjs.aliasBidder('appnexus', 'oftmedia');});epbjs.bidderSettings={sovrn: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},oftmedia: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 0.800000; var adj2 = adj1 * 1.200000; return adj2; }},gumgum: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 0.900000; var adj2 = adj1 * 1.200000; return adj2; }},onedisplay: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},onemobile: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},criteo: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},pubmatic: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},amx: { bidCpmAdjustment: function(bidCpm) { var adj1 = bidCpm * 1.000000; var adj2 = adj1 * 1.200000; return adj2; }},};epbjs.gadj=1.200000;var __enableAnalytics=false;
var __sellerid="9d73bda8345e2a22b2ea828db5a8aa12";__ez.queue.addFile('/detroitchicago/houston.js', '/detroitchicago/houston.js?gcb=0&cb=19', false, [], true, false, true, false);__ez.queue.addFunc("epbjsRequestAdUnits", "epbjsRequestAdUnits", [[{code: 'div-gpt-ad-esportsearnings_com-banner-2-0', mediaTypes: {banner: { sizes:[[300,250]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'sovrn', params: { tagid: '593678'}},{bidder: 'onedisplay',params: { placement: '5020681', network: '10765.1'}},{bidder: 'gumgum', params:{ inSlot: '20847' }},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a9691b20174742046e2211258fd01b2' }},{bidder: 'oftmedia', params:{ placementId: '19594057', video: {skippable: true, playback_method: ['auto_play_sound_off']}}},{bidder: 'criteo', params: { networkId: 7987 }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_sidebar_floating_1_300x250' }}] ,sizeMapping: [
			{
				minWidth: 300,
				sizes: [[300,250]]
			}]},{code: 'div-gpt-ad-esportsearnings_com-banner-2-0_1', mediaTypes: {banner: { sizes:[[300,250]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'sovrn', params: { tagid: '593678'}},{bidder: 'oftmedia', params:{ placementId: '19594057', video: {skippable: true, playback_method: ['auto_play_sound_off']}}},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a9691b20174742046e2211258fd01b2' }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_sidebar_floating_1_300x250' }},{bidder: 'onedisplay',params: { placement: '5020681', network: '10765.1'}},{bidder: 'gumgum', params:{ inSlot: '20847' }},{bidder: 'criteo', params: { networkId: 7987 }}] ,sizeMapping: [
			{
				minWidth: 300,
				sizes: [[300,250]]
			}]},{code: 'div-gpt-ad-esportsearnings_com-medrectangle-2-0', mediaTypes: {banner: { sizes:[[970,90],[728,90]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'onedisplay',params: { placement: '5020647', network: '10765.1'}},{bidder: 'sovrn', params: { tagid: '593638'}},{bidder: 'criteo', params: { networkId: 7987 }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_bottom_floating_970x90' }},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a969573017474204a2a2112183c0007' }},{bidder: 'gumgum', params:{ inSlot: '20904' }}] },{code: 'div-gpt-ad-esportsearnings_com-box-2-0', mediaTypes: {banner: { sizes:[[728,90]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'sovrn', params: { tagid: '593590'}},{bidder: 'oftmedia', params:{ placementId: '19594005', video: {skippable: true, playback_method: ['auto_play_sound_off']}}},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a9691b20174742046e221120e1f0193' }},{bidder: 'criteo', params: { networkId: 7987 }},{bidder: 'gumgum', params:{ inSlot: '20886' }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_top_of_page_728x90' }},{bidder: 'onedisplay',params: { placement: '5020605', network: '10765.1'}}] },{code: 'div-gpt-ad-esportsearnings_com-box-1-0', mediaTypes: {banner: { sizes:[[300,250]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'sovrn', params: { tagid: '593577'}},{bidder: 'oftmedia', params:{ placementId: '19593629', video: {skippable: true, playback_method: ['auto_play_sound_off']}}},{bidder: 'onedisplay',params: { placement: '4308143', network: '10765.1'}},{bidder: 'gumgum', params:{ inSlot: '20829' }},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a9691b20174742046e22111adc90163' }},{bidder: 'criteo', params: { networkId: 7987 }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_sidebar_300x250' }}] },{code: 'div-gpt-ad-esportsearnings_com-medrectangle-1-0', mediaTypes: {banner: { sizes:[[728,90]] }}, bids: [{bidder: 'amx', params: {  }},{bidder: 'sovrn', params: { tagid: '593624'}},{bidder: 'onedisplay',params: { placement: '5020636', network: '10765.1'}},{bidder: 'onemobile', params: { dcn: '8a9691b20174742046e2210bface012a', pos: '8a9691b20174742046e22111c8ee016f' }},{bidder: 'oftmedia', params:{ placementId: '19594037', video: {skippable: true, playback_method: ['auto_play_sound_off']}}},{bidder: 'criteo', params: { networkId: 7987 }},{bidder: 'gumgum', params:{ inSlot: '20889' }},{bidder: 'pubmatic', params:{ publisherId: '156983', adSlot: 'e_bottom_of_page_728x90' }}] }]], false, ['/detroitchicago/houston.js'], true, true, true, true);
  </script>
  <script data-ezscrex="false" type="text/javascript">
   var ezorbf = [];
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.isEZABL=false;window.ezmadspc=300;window.ezoViewCheck=false;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.ezDisableInitialLoad=false;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.googletag=window.googletag||{};googletag.cmd=googletag.cmd||[];
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   (function(){var gads=document.createElement('script');gads.async=true;gads.type='text/javascript';var useSSL='https:'==document.location.protocol;gads.src=(useSSL?'https:':'http:')+
'//securepubads.g.doubleclick.net/tag/js/gpt.js';var node=document.getElementsByTagName('script')[0];node.parentNode.insertBefore(gads,node);})();
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">

In [7]:
leag = []
name = []
prize = []
ply = []
tour = []
ev = []

page = requests.get(url)


#for i in soup.findAll('h3', class_='detail_list_table_header'):
 #   leag.append(i.get_text())

for j in soup.findAll('td', class_='format_cell detail_list_player'):
    name.append(j.get_text())
    
for k in soup.findAll('td', class_='format_cell detail_list_prize'):
    prize.append(k.get_text())
    
for l in soup.findAll('td', class_='format_cell detail_list_prize'):
    ply.append(l.get_text())

for m in soup.findAll('td', class_='format_cell detail_list_prize'):
    tour.append(m.get_text())    
    
for n in soup.findAll('td', class_='format_cell detail_list_prize'):
    ev.append(n.get_text())
    

    
money = prize[0::4]
ply = ply[1::4]
tour = tour[2::4]
ev = ev[3::4]



#ply = map(lambda s: s.strip('Players'), ply)
#money = map(lambda s: s.strip('$'), money)
#tour = map(lambda s: s.strip('Tournaments'), ply)
#ev = map(lambda s: s.strip('Events'), money)


#print(len(money))
#len(leag)






table = pd.DataFrame({'league':name, 'earnings':money, 'players':ply, 'tournaments':tour, 'events':ev})
table

                    league    earnings      players      tournaments    events
0       4PL All or Nothing  $11,022.20   30 Players    9 Tournaments  2 Events
1     4PL Close Combat Cup  $25,699.63   92 Players   99 Tournaments   1 Event
2           4PL Play4Dota2   $8,753.30   14 Players   18 Tournaments   1 Event
3            4PL Play4Fame  $21,068.51   91 Players   39 Tournaments   1 Event
4      4PL Team Action Cup   $3,524.14   28 Players   38 Tournaments   1 Event
..                     ...         ...          ...              ...       ...
639          X5 Mega Arena  $45,924.25  162 Players   12 Tournaments  5 Events
640                 Xanadu  $91,339.00  296 Players  378 Tournaments  7 Events
641                    XLG  $61,017.58  135 Players   15 Tournaments  7 Events
642  YUZU Winter Challenge   $6,483.00   47 Players   12 Tournaments  2 Events
643            ZeratoR Cup  $23,529.84   19 Players   10 Tournaments  2 Events

[644 rows x 5 columns]

In [8]:
table['players'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
table['tournaments'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
table['events'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

table['earnings'] = table['earnings'].apply(clean_currency).astype('float')


table

                    league  earnings players tournaments events
0       4PL All or Nothing  11022.20      30           9      2
1     4PL Close Combat Cup  25699.63      92          99      1
2           4PL Play4Dota2   8753.30      14          18      1
3            4PL Play4Fame  21068.51      91          39      1
4      4PL Team Action Cup   3524.14      28          38      1
..                     ...       ...     ...         ...    ...
639          X5 Mega Arena  45924.25     162          12      5
640                 Xanadu  91339.00     296         378      7
641                    XLG  61017.58     135          15      7
642  YUZU Winter Challenge   6483.00      47          12      2
643            ZeratoR Cup  23529.84      19          10      2

[644 rows x 5 columns]

In [9]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   league       644 non-null    object
 1   earnings     644 non-null    float64
 2   players      644 non-null    object
 3   tournaments  644 non-null    object
 4   events       644 non-null    object
dtypes: float64(1), object(4)
memory usage: 15.2+ KB

In [10]:
table['earnings'] = table['earnings'].astype(float)
table['players'] = pd.to_numeric(table['players'],errors='coerce')
table['tournaments'] = pd.to_numeric(table['tournaments'],errors='coerce')
table['events'] = pd.to_numeric(table['events'],errors='coerce')
table.info()
print(table)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   league       644 non-null    object
 1   earnings     644 non-null    float64
 2   players      644 non-null    int64
 3   tournaments  644 non-null    int64
 4   events       644 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 22.7+ KB
                    league  earnings  players  tournaments  events
0       4PL All or Nothing  11022.20       30            9       2
1     4PL Close Combat Cup  25699.63       92           99       1
2           4PL Play4Dota2   8753.30       14           18       1
3            4PL Play4Fame  21068.51       91           39       1
4      4PL Team Action Cup   3524.14       28           38       1
..                     ...       ...      ...          ...     ...
639          X5 Mega Arena  45924.25      162           12       5
640                 Xanadu  91339.00      296          378       7
641                    XLG  61017.58      135           15       7
642  YUZU Winter Challenge   6483.00       47           12       2
643            ZeratoR Cup  23529.84       19           10       2

[644 rows x 5 columns]

In [11]:
table.describe()

           earnings      players  tournaments      events
count  6.440000e+02   644.000000   644.000000  644.000000
mean   1.232534e+06   190.142857    35.604037    7.759317
std    6.535152e+06   410.595048    87.912759   11.928878
min    0.000000e+00     0.000000     1.000000    1.000000
25%    2.271835e+04    36.750000     5.000000    2.000000
50%    1.021133e+05    83.500000    11.000000    4.000000
75%    5.073447e+05   197.250000    31.000000    9.000000
max    1.408557e+08  6284.000000  1344.000000  120.000000

In [12]:
table.to_csv('leagues.csv')