In [116]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

url = 'https://www.esportsearnings.com/history/2020/countries'
page = requests.get(url)
print(page)
soup = BeautifulSoup(page.content, 'html.parser')

<Response [200]>

In [133]:
cout = []
money = []
ply = []



page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

#    country
for j in soup.findAll('td', class_='format_cell detail_list_player'):
    cout.append(j.get_text())

#    money
for k in soup.findAll('td', class_='format_cell detail_list_prize'):
    money.append(k.get_text())
    

#   players
for l in soup.findAll('td', class_='format_cell detail_list_prize'):
    ply.append(l.get_text())
              
money = money[0::2]
ply = ply[1::2]

ply = map(lambda s: s.strip('Players'), ply)
money = map(lambda s: s.strip('$'), money)


data = pd.DataFrame({'Country':cout, 'Prize Money':money, 'Players':ply,})

data

                 Country    Prize Money Players
0          United States  14,847,674.67   3323
1                  China   4,787,969.20    555
2     Korea, Republic of   3,494,387.65    689
3                 Brazil   3,088,603.13    703
4     Russian Federation   2,890,732.61    658
..                   ...            ...     ...
108               Panama         378.00      3
109        New Caledonia         300.00      1
110              Jamaica          75.75      1
111          Isle of Man          60.00      1
112              Andorra          30.00      1

[113 rows x 3 columns]

In [134]:
data = pd.DataFrame(data)
data.dtypes

Country        object
Prize Money    object
Players        object
dtype: object

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      113 non-null    object
 1   Prize Money  113 non-null    object
 2   Players      113 non-null    object
dtypes: object(3)
memory usage: 1.4+ KB

In [136]:
data.describe()

        Country Prize Money Players
count       113         113     113
unique      113         111      72
top      Cyprus      500.00      1
freq          1           3       7

In [137]:
data.to_csv('top_country.csv')